.infoBox {
    width: 80%;
    background-color: #ffffff;
    margin: -5% auto 0;
    z-index: 2;
    border: 1px solid grey;
    box-shadow: 3px 6px grey;
    padding: 4% 15%;
}

.infoBox h2 {
    font-size: 40px;
}

.infoBox h3 {
    font-size: 40px;
}

.projectDetails {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 4% auto;
    width: 80%;
}

.projectDetails:nth-child(odd) {
    flex-flow: row wrap;
}

.projectDetails:nth-child(odd) div {
    padding-left: 5%;
}

.projectDetails div {
    width: 60%;
    padding-left: 0;
    padding-right: 5%;
}

.projectDetails img {
    width: 40%;
    height: 350px;
}

.projectDetails h4 {
    font-size: 32px;
    margin-bottom: 5%;
}

.projectDetails p {
    font-size: 18px;
}

.projectArrows {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
}

.projectArrows a {
    font-size: 30px;
    color: black;
}

.projectArrows p {
    font-size: 18px;
}

.projectArrows div {
    width: 50%;
    background-color: #D9D9D9;
    padding: 10% 2%;
}

.projectArrows div:nth-child(even) {
    background-color: #AAAAAA;
}


/*.projectArrows a{
padding-left: 2%;
padding-right: 2%;
}*/

.projectArrows div:nth-child(even)>a,
.projectArrows div:nth-child(even)>p {
    display: block;
    text-align: right;
}

ul.practice {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-left: 0;
}

ul.practice>li {
    width: 25%;
    list-style-type: none;
    padding-top: 2%
}

ul.practice>li:hover{
  background-color: #BB6BD9;
}

ul.practice>li img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

ul.practice>li a {
  text-align: center;
  display: block;
  font-size: 24px;
}
